.venv/
.idea/
FIG1.png
FIG2.png
FIG3.png
FIG9.png
Figure 9 - Welfare levels under preferences for power
Figure 9 - Welfare levels under preferences for power 10000 iterations.png
.idea/workspace.xml
.idea/PowerRivalry_Failures_International_Cooperation.iml
